# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/
.eggs/

# SQLite
*.db

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Secret config files
config.py
